<h2><%= @project.name %></h2>

<h4>Developer: <%= @project.developer.name %></h4>

<b>Type: </b><%= @project.proj_type %>
<br>
<br>
<b>Description: </b><%= @project.description %>
<br>
<br>
<a href="/delete">Delete Project</a> - <a href="/edit">Edit Project</a>