<h1>Welcome to BuildPortofl.io</h1>
<br>
<br>
<h4>A portfolio website designed for those who build and develop properties.</h4>
<h4>Sign-Up today and show your portfolio to the entire world!</h4>
<br>
<br>

<% if logged_in? %>
    <a href="/<%= current_user.slug %>">Profile</a> - <a href="/logout">Log Out</a>
<% else %>
    <a href="/signup">Sign Up</a> - <a href="/login">Log In</a>
<% end %>
